body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
} 

.cards {
    background-color: azure;
    width: auto;
    padding: 40px;
    margin-bottom: 25px;
    border-radius: 8px;
    border: 5px outset black
}
 
header {
    background-color: #c24087;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}
header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
}
header h1.logo:hover {
    color: #fff;
    text-decoration: none;
}
  /*
   * Centering the body content
   */
.container {
    width: 1200px;
    margin: 0 auto;
}
div.index {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}
div.alotech {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

.menu {
    float: right;
    margin-top: 8px;
}
.menu li {
    display: inline;
}
  .menu li + li {
    margin-left: 35px;
}
  .menu li a {
    color: #444;
    text-decoration: none;
} 

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
